alias,folder
src,$SOURCE
advance,$SOURCE_BNSFL\Microservices\ApAdvance\{branch}
api,$SOURCE\github.com\kenlefeb\ApiMiddleware\{branch}
bnsfl,$SOURCE_BNSFL
bpm,$SOURCE_BNSFL\BNSFL.BPM\{branch}
bpmm,$SOURCE_BNSFL\Microservices\BpmMiddleware\{branch}
config,$SOURCE\github.com\kenlefeb\bnsfl-configurations
cred,$SOURCE_BNSFL\Microservices\CustomerCredit\{branch}
devops,$SOURCE_BNSFL\BNSFL.DevOps\{branch}
diabetes,$SOURCE\github.com\kenlefeb\BlacksmithPress.Diabetes\{branch}\src
edi,$SOURCE_BNSFL\Microservices\EdiConsumption\{branch}
id,$SOURCE_BNSFL\Microservices\IdentityManagement\{branch}
ideas-wiki,$SOURCE\dev.azure.com\rakl-apps\ideas\Ideas.wiki
ideas,$SOURCE\dev.azure.com\rakl-apps\ideas\Ideas\{branch}
interview,$SOURCE_BNSFL\BNSFL.CandidateCodeAssessment\{branch}
kenlefeb,$Source\github.com\kenlefeb
knowledge,$SOURCE\dev.azure.com\kenlefeb\BNSFL.Quest\BNSFL.Knowledge
local,$SOURCE\local\{branch}
ltl,$SOURCE_BNSFL\EXT.LtlCarrierIntegrations\{branch}
luxonish,$Source\github.com\kenlefeb\Luxonish\{branch}
macropoint,$SOURCE_BNSFL\B2B.MacroPoint\{branch}
micro,$SOURCE_BNSFL\Microservices\Microservices\{branch}
mileage,$SOURCE_BNSFL\Microservices\MileageEngine\{branch}
notifications,$SOURCE_BNSFL\Microservices\Notifications\{branch}
now,$env:USERPROFILE\Desktop\$(get-date -format 'yyyy\\MM\\dd\\HH')
p44,$SOURCE_BNSFL\B2B.Project44\{branch}
p44l,$SOURCE_BNSFL\Microservices\P44Listener\{branch}
powershell,$Source\github.com\kenlefeb\PowerShell
pulumi-examples,$SOURCE\github.com\pulumi\examples\{branch}
pulumi-kubernetes,$SOURCE\github.com\pulumi\pulumi-kubernetes\{branch}
pulumi,$SOURCE\github.com\pulumi\{branch}
qtools,$SOURCE_BNSFL\Quest.Tools\{branch}
quest,$SOURCE_BNSFL\Quest\{branch}
rates,$SOURCE_BNSFL\Microservices\RateEngine\{branch}
spikes,$SOURCE\local\spikes
spot,$SOURCE_BNSFL\Microservices\SpotIndex\{branch}
sugg,$SOURCE_BNSFL\Microservices\CarrierSuggestion\{branch}
teams,$SOURCE\github.com\BlacksmithPress\Teams\{branch}
telephony,$SOURCE_BNSFL\Microservices\Telephony\{branch}
today,$env:USERPROFILE\Desktop\$(get-date -format 'yyyy\\MM\\dd')
tools,$SOURCE_BNSFL\BNSFL.InternalTools\{branch}
tt,$SOURCE_BNSFL\Microservices\TrackAndTrace\{branch}
ttl,$SOURCE_BNSFL\Microservices\TrackAndTraceListener\{branch}
val,$SOURCE_BNSFL\Microservices\CarrierValidation\{branch}
wiki,$SOURCE_BNSFL\Wiki\{branch}
zuum,$SOURCE_BNSFL\Microservices\Zuum\{branch}
